{% extends "base.html" %}
{% block content %}
<section class="row mt-5">
  <div class="mx-auto text-center">
      <h1>Page Not Found &nbsp;</h1>
        <i class="far fa-frown fa-7x"></i>
  <p class="mt-4 request__bad">Get a Lyfe</p>
  <p class="mt-4 request__bad"><a href="{{ url_for('root') }}">Go back to Warbler... NOW!</a></p>
  </div>
</section>
{% endblock %}

<!-- {% if user.header_image_url != None %}
<div id="#personal-header" class="full-width" style="background-image: url(user.header_image_url)"></div>
{% else %}
<div id="warbler-hero" class="full-width"></div>
{% endif %} -->