{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-4">
    <h2 class="join-message">Edit Your Profile.</h2>
    <form action="{{ url_for('users.show', id=user.id) }}?_method=PATCH" method="POST" id="user_form">
      {{ form.csrf_token }}
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      {{ form.email(placeholder="What's your email?", value=user.email, class="form-control") }}
      {% if form.username.errors %}
        {% for error in form.username.errors %}
          <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      {{ form.username(placeholder="What do you want your username to be?", value=user.username, class="form-control") }}
        {% if form.image_url.errors %}
          {% for error in form.image_url.errors %}
          <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      {{ form.display_name(placeholder="Choose a display name:", value=user.display_name or '', class="form-control") }}
      {% if form.image_url.errors %}
          {% for error in form.image_url.errors %}
          <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      {{ form.location(placeholder="What's your location?", value=user.location or '', class="form-control") }}
      {% if form.image_url.errors %}
          {% for error in form.image_url.errors %}
          <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      {{ form.bio(placeholder="Write a short bio:", value=user.bio or '', class="form-control", rows="3") }}
      {% if form.image_url.errors %}
          {% for error in form.image_url.errors %}
          <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      {{ form.image_url(placeholder="Profile image URL:", class="form-control") }}
      {% if form.header_image_url.errors %}
          {% for error in form.header_image_url.errors %}
          <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      {{ form.header_image_url(placeholder="Header image URL", class="form-control") }}
      <p>To confirm changes, enter your password:</p>
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}
      <div class="edit-btn-area">
        <button type="submit" class="btn btn-success">Edit this user!</button>
        <a href="{{ url_for('users.show', id=user.id) }}" class="btn btn-outline-secondary">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}