{% extends 'user_page.html' %}
{% block user_details %}
<div class="row">
  <div class="col-sm-3">
    {% if user.display_name != None %}
    <h3 id="sidebar-username">{{ user.display_name }}</h3>
    {% endif %}
    <h4 id="sidebar-username">@{{ user.username }}</h4>
    {% if user.bio != None %}
      <p>{{ user.bio }}</p>
    {% endif %}
    {% if user.location != None %}
      <p><i class="fa fa-map-marker"></i> {{user.location }}</p>
    {% endif %}
</div>
<div class="col-sm-6">
  <ul class="list-group" id="messages">
    {% for message in user.messages.order_by('timestamp desc') %}
      <li class="list-group-item">
        <a href="{{ url_for('messages.show', id=user.id, message_id=message.id ) }}" class="message-link"/>
        <a href="{{ url_for('users.show', id=user.id) }}">
          <img src="{{ user.image_url }}" alt="" class="timeline-image">
        </a>
        <div class="message-area">
          <a href="{{ url_for('users.show', id=user.id) }}">@{{ user.username }}</a>
          <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
          <p>{{ message.text }}</p>

          <div class="like like-btn">
            {% if current_user in message.likes %}
              <form class='likefull' action="{{ url_for('messages.like_toggle', message_id=message.id, id=message.user.id) }}?_method=DELETE" method='POST'>
                  {{ form.csrf_token }}
                  <button class='remove--like' type='submit'><i class="fas fa-heart"></i></button>
              </form>
              <form class="likeempty hidden" action="{{ url_for('messages.like_toggle', message_id=message.id, id=message.user.id) }}" method='POST'>
                  {{ form.csrf_token }}
                  <button class='add--like' type='submit'><i class="far fa-heart"></i></button>
              </form>
            {% else %}
              <form class='likefull hidden' action="{{ url_for('messages.like_toggle', message_id=message.id, id=message.user.id) }}?_method=DELETE" method='POST'>
                  {{ form.csrf_token }}
                  <button type='submit'><i class="fas fa-heart"></i></button>
              </form>
              <form class='likeempty' action="{{ url_for('messages.like_toggle', message_id=message.id, id=message.user.id)  }}" method='POST'>
                  {{ form.csrf_token }}
                <button type='submit'><i class="far fa-heart"></i></button>
              </form>
            {% endif %}
          </div>
          
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}