{% extends 'base.html' %} 
{% block content %}
<div class="bg"></div>
<div class="row justify-content-center">
  <div class="col-md-6">
    <ul class="list-group no-hover" id="messages">
      <li class="list-group-item">
        <a href="{{ url_for('users.show', id=message.user.id) }}">
          <img src="{{ message.user.image_url }}" alt="" class="timeline-image">
        </a>
        <div class="message-area">
          <div class="message-heading">
            <h6>Niki</h6>
            <a href="{{ url_for('users.show', id=message.user.id) }}">@{{ message.user.username }}</a>
            <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
            {% if current_user.is_authenticated %}
              {% if current_user.id == message.user.id %}
                <form method="POST" action="{{url_for('messages.show', message_id=message.id, id=message.user.id)}}?_method=DELETE">
                  <input type="submit" value="Delete" class="btn btn-outline-danger">
                </form>
              {% elif current_user.is_following(message.user) %}
                <form method="POST" action="{{url_for('users.follower', follower_id=message.user.id)}}?_method=DELETE">
                  <input type="submit" value="Unfollow" class="btn btn-primary">
                </form>
              {% else %}
                <form method="POST" action="{{url_for('users.follower', follower_id=message.user.id)}}">
                  <input type="submit" value="Follow" class="btn btn-outline-primary btn-sm">
                </form>
              {% endif %}
            {% endif %}
          </div>
          <p class="single-message">{{ message.text }}</p>
          <div class="like">
            {% if current_user in message.likes %}
              <form class='likefull' action="{{ url_for('messages.like_toggle', message_id=message.id, id=message.user.id) }}?_method=DELETE" method='POST'>
                  {{ form.csrf_token }}
                  <button type='submit'><i class="fas fa-heart"></i></button>
              </form>
              <form class="likeempty hidden" action="{{ url_for('messages.like_toggle', message_id=message.id, id=message.user.id) }}" method='POST'>
                  {{ form.csrf_token }}
                  <button type='submit'><i class="far fa-heart"></i></button>
              </form>
            {% else %}
              <form class='likefull hidden' action="{{ url_for('messages.like_toggle', message_id=message.id, id=message.user.id) }}?_method=DELETE" method='POST'>
                  {{ form.csrf_token }}
                  <button type='submit'><i class="fas fa-heart"></i></button>
              </form>
              <form class='likeempty' action="{{ url_for('messages.like_toggle', message_id=message.id, id=message.user.id)  }}" method='POST'>
                  {{ form.csrf_token }}
                <button type='submit'><i class="far fa-heart"></i></button>
              </form>
            {% endif %}
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endblock %}